<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./css/forms.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
</head>
<body>
    <header>
        <div class="top-header">
          <div class="LOGO">
            <img class="logoHeader" src="./images/logo-mercado-liebre.svg" alt="" />
          </div>
          <div>
            <input type="search" placeholder="Buscar productos, marcas y más">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <h3 class= header-title><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>  
        <nav>
          <ul class="lista1">
            <li class="nav-buttons1"><a href="" target="_blank"> Ofertas</a></li>
            <li class="nav-buttons1"><a href="" target="_blank"> Tiendas Oficiales</a></li>
            <li class="nav-buttons1"><a href="" target="_blank"> Vender</a></li>
            <li class="nav-buttons1"><a href="" target="_blank"> Ayuda</a></li>
          </ul>
  
          <ul class="lista2">
            <li class="nav-buttons2"><a href="/register" target="_blank"> Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
            <li class="nav-buttons2"><a href="/login" target="_blank"> Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li class="nav-buttons2"><a href="" target="_blank"> Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
          </ul>
        </nav>
        <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
      </header>

    <main>
        <form action="/">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <br>
        
            <input type="password" name="" placeholder="Contraseña">
            <br>
            
            <button class="enviar" type="submit">Enviar</button>
            <br>
        </form>
    </main>

    <footer>
        <section>
          <div class="footer-icons"><i class="fa-solid fa-credit-card"></i></div>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
  puntos de pago. ¡Y siempre es seguro!
          </p>
  
          <div class="footer-icons"><i class="fa-solid fa-gift"></i></div>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>
              Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
  productos. Es un beneficio de Mercado Puntos.
          </p>
  
          <div class="footer-icons"><i class="fa-solid fa-user-shield"></i></div>
          <h3>Seguridad, de principio a fin</h3>
          <p>
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
  porque estás siempre protegido.
          </p>
  
          <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
      </footer>
</body>
</html>