<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ingresa a tu cuenta</title>
  <link rel="stylesheet" href="/css/forms.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
  <header>
    <div class="top-header">
      <div class="LOGO">
        <img class="logoHeader" src="/images/logo-mercado-liebre.svg" alt="" />
      </div>
      <div class="search-bar">
        <input type="search" placeholder="Buscar productos" size="x-large">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <h3 class=header-title><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
      </h3>
    </div>
    <nav>
      <ul class="lista1">
        <li class="nav-buttons1"><a href="" target="_blank"> OFERTAS</a></li>
        <li class="nav-buttons1"><a href="" target="_blank"> TIENDAS OFICIALES</a></li>
        <li class="nav-buttons1"><a href="" target="_blank"> VENDER</a></li>
        <li class="nav-buttons1"><a href="" target="_blank"> AYUDA</a></li>
      </ul>

      <ul class="lista2">
        <li class="nav-buttons2"><a href="/register" target="_blank"> CREA TU CUENTA</a><i
            class="fa-regular fa-id-card"></i></li>
        <li class="nav-buttons2"><a href="/login" target="_blank"> INGRESA</a><i
            class="fa-solid fa-right-to-bracket"></i></li>
        <li class="nav-buttons2"><a href="" target="_blank"> MIS COMPRAS</a><i class="fa-solid fa-basket-shopping"></i>
        </li>
      </ul>
    </nav>
    <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
  </header>
  <div class="home-banner"><img src='/images/img-home-banner.jpg' alt=''></div>


  <main>
    <div class="body-login">
      <div class="form-body">
        <form action="/">
          <p class="text">ingreso a tu cuenta</p>
          <label class="name-login">USUARIO:</label>
          <input class="input-login" type="text" name="username" placeholder="Usuario">
          <label class="name-login">CONTRASEÑA:</label>
          <input class="input-login" type="password" name="password" placeholder="Contraseña">
          <button type="submit">Entrar</button>
        </form>
  </main>

  <footer>
    <section>
      <div class="footer-article">
        <div class="footer-icons"><i class="fa-solid fa-credit-card"></i></div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>

      <div class="footer-article">
        <div class="footer-icons"><i class="fa-solid fa-gift"></i></div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>

      <div class="footer-article">
        <div class="footer-icons"><i class="fa-solid fa-user-shield"></i></div>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegido.</p>
      </div>
    </section>
    <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
  </footer>
</body>

</html>